/* black: #000000ff;
prussian-blue: #14213dff;
orange: #fca311ff;
alabaster-grey: #e5e5e5ff;
white: #ffffffff; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "EB Garamond", serif;
    
}

abbr{
    text-decoration: none;
    font-style: italic;
}

div#header {
    /* background-color: #14213dff; */
    min-height: 250px;
    line-height: 250px;
     background-image: radial-gradient(circle closest-side,#f3f39eff 30%,yellow 75% ,#14213dff );

}

div#main{
    padding: 20px 20px;
    background-color: #e5e5e5ff;
}
.sistema-solare_title{
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    text-transform: capitalize;
}
.sistema-solare_title--principale {
    text-shadow: 2px 2px 2px #e5e5e5ff;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 3.75rem;
    color: #fca311ff;
}

.sistema-solare{
    background-color: #fca311ff;
    padding: 20px;
    border: 3px solid #000000ff;
    margin-bottom: 20px;
}
.sistema-solare_body{
    font-size: 1.1875rem;
    line-height: 1.15;
}

.bold{
    font-weight: bold;
}

.author{
    color: rgb(1, 130, 204);
    text-decoration: underline;
}

address{
    display: inline-block;
    padding-left: 5px;
}

dt{
    display: inline-block;
    min-width: 9.375rem;
}

dd{
    display: inline-block;
}

.sistema-solare_body li{
    list-style-image: url(../../assets/img/icons8-planet-16.png);
}

.pianeta-container{
    margin: 0;
    background-color: #e5e5e5ff;
    /* font-size: 0; */
    /* box-shadow: 3px 3px 3px black; */
}

.pianeta-card{
    width: calc(33.333333% - 40px / 3);
    border: 2px solid #000000ff;
    padding: 20px 0;
    padding-top: 0;
    /* display: inline-block; */
    float: left;
    /* font-size: 1rem; */
    margin: 0 10px 20px;
    box-shadow: inset 0 0 15px #fca311ff;
    cursor: pointer;
}
.clearfix{
    clear: both;
}

.pianeta-card:hover{
    box-shadow: 0px 0px 15px #14213dff;
    .pianeta-card__head{
        background-color: #14213dff;
        color: #fca311ff;
    }
}

.pianeta-card__head{
    border-bottom: 2px ridge #000000ff;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
}

div.pianeta-card__head:hover {
    color: #fca311ff;
    /* font-style: oblique; */
    font-size: 1rem;
    font-weight: 999;
    text-decoration: none;
    box-shadow:inset 0 0 15px #fca311ff;
}

.pianeta-card__head h2{
    text-align: center;
    margin: 0;
}
.pianeta-card__body{
    padding: 20px 20px ;
}

.pianeta-card__body p{
    margin: 0;
}

.pianeta-card__footer{
    color: #14213dff;
    text-align: center;
    border-top: 2px ridge #000000ff;
    padding-top: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}

.pianeta-card__footer p{
    margin: 0;
    padding: 0;
}

.pianeta-card__footer p:hover{
    border: 0 solid black;
    display: inline-block;
    min-width: 65%;
    border-radius: 999px;
    background-color: #14213dff;
    color: #fca311ff;
    font-weight: 999;
    /* box-shadow: inset 0 0 20px #fca311ff ; */

}

/* .pianeta-card__footer:hover{
    border-radius: 30px;
} */

/* .pianeta__card--boundary-left{
    margin-left: 10px;
    /* width: calc(33.333333% - 10px); */
/* }  */

/* .pianeta__card--boundary-right{
    margin-right: 0;
    /* width: calc(33.333333% - 10px); */
/* }  */

div#footer{
    background-color: #fca311ff;
    padding: 50px;
}

div div.pianeta-card:nth-of-type(3n+1){
    /* background-color: red; */
    margin-left: 0px;
    /* width: calc(33.333333% - 10px); */
}

div div.pianeta-card:nth-of-type(3n){
    /* background-color: green; */
    margin-right: 0;
    /* width: calc(33.333333% - 10px); */
}